version: '3'

services:
    service:
        build:
          context: .
          dockerfile: Dockerfile.dev
        ports:
          - "8003:80"
        environment:
          SERVER_PORT: 80
          SPRING_DATASOURCE_URL: jdbc:postgresql://pgsql:5432/shopping_cart
          SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
          SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
        depends_on:
          - pgsql 
        networks:
          - sail 
        volumes:
          - ./src:/app/src
          - .env:/app/.env
          - ./pom.xml:/app/pom.xml
          - ./target:/app/target
    pgsql:
        image: 'postgres:17'
        ports:
            - 5433:5432
        environment:
            PGPASSWORD: root
            POSTGRES_DB: shopping_cart
            POSTGRES_USER: root
            POSTGRES_PASSWORD: root
        volumes:
            - 'pgsql:/var/lib/postgresql/data'
        networks:
            - sail
networks:
    sail:
        external: true
volumes:
    pgsql:
        driver: local
