spring:
  config:
    import: classpath:.env[.properties]
  application:
    name: shopping-cart
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL} 
    username: ${SPRING_DATASOURCE_USERNAME} 
    password: ${SPRING_DATASOURCE_PASSWORD} 
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_HOST}/realms/${KEYCLOAK_REALM}
client:
  product-service:
    url: ${PRODUCT_HOST}/api/v1
server:
  port: 8003
